/* mulish-regular - latin */
@font-face {
  font: {
    family: 'Mulish';
    style: normal;
    weight: 400;
    display: swap;
  }
  src:
    local(''),
    url('/assets/mulish-v1-latin/mulish-v1-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/assets/mulish-v1-latin/mulish-v1-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* mulish-700 - latin */
@font-face {
  font: {
    family: 'Mulish';
    style: normal;
    weight: 700;
    display: swap;
  }
  src:
    local(''),
    url('/assets/mulish-v1-latin/mulish-v1-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/assets/mulish-v1-latin/mulish-v1-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-regular - latin */
@font-face {
  font: {
    family: 'Roboto Slab';
    style: normal;
    weight: 400;
    display: swap;
  }
  src:
    local(''),
    url('/assets/roboto-slab-v12-latin/roboto-slab-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('/assets/roboto-slab-v12-latin/roboto-slab-v12-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
