$mq-breakpoints: (
  small:    320px,
  medium:   740px,
  large:    980px,
);

$body-font-family: 'Muli', sans-serif;
$headline-font-family: 'Roboto Slab', serif;

$colors: (
  primary: #01027c,
  bg: #fff
);

$footer-height: 4rem;
